
[OC] i7 8700, GA-Z370-Aours-Gaming-5, RX 5700XT/OC 0.6.6/EFI/.DS_Store
[OC] i7 8700, GA-Z370-Aours-Gaming-5, RX 5700XT/OC 0.6.6/EFI/.DS_Store
[OC] i7 8700, GA-Z370 Aours Gaming 5, RX 5700XT/.DS_Store
[OC] i7 8700, GA-Z370 Aours Gaming 5, RX 5700XT/OC 0.6.6 v1/.DS_Store
[OC] i7 8700, GA-Z370 Aours Gaming 5, RX 5700XT/OC 0.6.6 v1/EFI/.DS_Store
[OC] i7 8700, GA-Z370 Aours Gaming 5, RX 5700XT/OC 0.6.6 v1/EFI/OC/.DS_Store
[OC] i7 8700, GA-Z370 Aours Gaming 5, RX 5700XT/OC 0.6.6 v2/.DS_Store
[OC] i7 8700, GA-Z370 Aours Gaming 5, RX 5700XT/OC 0.6.6 v2/EFI/.DS_Store
[OC] i7 8700, GA-Z370 Aours Gaming 5, RX 5700XT/OC 0.6.6 v2/EFI/OC/.DS_Store
[OC] i9 10900K, GA-Z490 VISON G, RX 570/.DS_Store
[OC] i9 10900K, GA-Z490 VISON G, RX 570/OC 0.6.6/.DS_Store
[OC] i9 10900K, GA-Z490 VISON G, RX 570/OC 0.6.6/EFI/.DS_Store
[OC] i9 10900K, GA-Z490 VISON G, RX 570/OC 0.6.6/EFI/OC/.DS_Store
.DS_Store
[OC] i7 8700, GA-Z370 Aours Gaming 5, RX 5700XT/OC 0.6.6 v1/EFI/OC/.DS_Store
[OC] i7 8700, GA-Z370 Aours Gaming 5, RX 5700XT/OC 0.6.6 v2/.DS_Store
[OC] i7 8700, GA-Z370 Aours Gaming 5, RX 5700XT/OC 0.6.6 v2/EFI/.DS_Store
